.change-password__form{
    width: 100%;
    margin: auto;
}

.change-password__container{
    margin: 2%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.change-password__container .input-field {
    margin: 2% 0;
    width: 80%;
}

.error-message{
    width: 80%;
    color: red;
    font-size: 1em;
}

@media (min-width:1025px) {
    .change-password__form{
        width: 40%;
    }
}