.chatbot {
    width: fit-content;
    position: fixed;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    border-radius: 3px;
    display: none;
}

@media (min-width:1025px) {
    .chatbot{
        display: block;
    }
}