@font-face {
    font-family: "Fuggles";
    src: url('../../fonts/Fuggles/Fuggles-Regular.ttf') format("truetype");
}

form.login-form {

    padding: 0 5%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../img/gc.jpg');
    background-size: cover;
}

.login-box {
    text-align: center;
    z-index: 1;
    width: 500px;
}

.dim-bg {
    position: absolute;
    width: 100%;
    background: rgb(249 249 249 / 90%);
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

.login-box h2 {
    font-size: 3em;
    font-family: 'Fuggles', cursive;
    margin-top: 0;
}

.input-field {
    margin: 5% 0;
    padding: 2%;
    font-size: 1em;
    width: 90%;
    border: none;
    border-bottom: 1px solid #111827;
    background: #fcfcfc;
    color: #111827;
    background: inherit;
    
}

.input-field:focus {
    outline: none;
}

.submit-btn {
    width: 100px;
    background: #111827;
    border: none;
    color: #fcfcfc;
    padding: 3%;
    margin: 2% 0;
    border-radius: 3px;
    cursor: pointer;
}

.userfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 95%;

    padding: 2%;
}
.userfield div{
    width: 45%;
}
.userfield .input-field{
    width: 100%;
}


@media (min-width:1025px) {
    .login-box h2 {
        margin-bottom: 5%;
    }

    #username,
    #password {
        margin: 2% 0;
    }

    .submit-btn {
        padding: 2%;
    }
}